@CHARSET "UTF-8";

html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    padding: 0
}

body * {
    font-family: Tahoma, Geneva, sans-serif, cursive;
    font-weight: normal;
    text-shadow: none;
}

#map-canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map-page{
    overflow: hidden;
}

#map-page .ui-content {
    position : absolute;
    margin: 0;
    padding: 0;
}

#map-page .ui-header {
    position : fixed;
    background: #222222;
}
#map-page .ui-header div {
    padding: 0;
    margin: 0;
    float: left;
}
#map-page .ui-header h1 {
    overflow: visible;
}
#map-page .ui-header img {
    height: 1.6em;
}

#map-page .ui-footer {
    position : fixed;
    background: #222222;
}

#map-page .ui-footer div {
    text-align: right;
    padding: 0;
    margin: 0;

}
#map-page .ui-footer img {
    height: 1.6em;
}
#counter {
    /*font-size: small;*/
    float: left;
}
#counter img {
    vertical-align: middle;
    padding-left: 0.3em;
    padding-right: 0.3em;
}
#index, #total, #location {
    font-size: small;
}

#menu .rtl {
    float: right;
    direction: rtl;
    display: block;
}

#menu .ltr {
    float: left;
    direction: ltr;
    display: block;
}

.ui-bar {
    text-align: center;
    font-size: 0.7em;
}

.keyboard {
    display: none;
}


#links {
    display: list-item;
}
#bwlogo {
    width: 9.5em;
    display: block;
    margin: 0.5em auto;
}
#gplay {
    width: 6.5em;
    display: block;
    margin: 0.5em auto;
}

#hidden {
    visibility: hidden;
    position: fixed;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    max-width: 18em;
    text-align: center;
    overflow: hidden;
}

.infowindow {
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    padding: 0.25em;
    max-width: 18em;
    text-align: center;
    overflow: hidden;
}
.profile {
    height: 2.5em;
    border-radius: 0.25em;
    background: #222222;
}

.profile-link {
    float: left;
    color: white;
    text-decoration: none;
    margin-top: 0.6em;
    margin-left: 0.3em;
}

.profile-image {
    float: right;
    height: 2.25em;
    margin-top: 0.1em;
    margin-right: 0.1em;
    border-radius: 0.25em;
}


.tweet-text {
    direction: rtl;
    padding: 0.3em;
    margin: 0.25em auto;
    border-radius: 0.25em;
    background: #222222;
}

.tweet-text a {
    color: #FFFFFF;
    direction: ltr;
    display: block;
}

.created-at {
    margin-top: 0.25em;
}
.tweet-time {
    float: left;
    padding-left: 0.5em;
    font-size: 0.65em;
    color: black;
}

.tweet-duration {
    float: right;
    padding-right: 0.5em;
    direction: rtl;
    font-size: 0.65em;
    color: black;
}

.tweet-media {
    padding: 0.3em;
    border-radius: 0.25em;
    background: #222222;
    text-align: center;
}

.tweet-media a img {
    /*max-width: 100%;*/
    max-height: 50%;
    vertical-align: middle;
    border: #cdcdcd solid thin;
    border-radius: 0.25em;
}

.tweet-media iframe {
    width: 100%;
    height: 45%;
    vertical-align: middle;
    border-radius: 0.25em;
}


/* First breakpoint at 576px */
/* Inherits mobile styles, but floats containers to make columns */
@media all and (min-width: 36em) {

    .infowindow {
        max-width: 22em;
    }

    .keyboard {
        display: list-item;
    }

}

/* Second breakpoint at 800px */
/* Adjusts column proportions, tweaks base H1 */
@media all and (min-width: 50em) {

}